*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Source\ Code/

TugasAwesome/build/*

lib/*
TugasAwesome/build/built-jar.properties
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/main/TugasAwesome.class
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/process/Encryption.class
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/process/Mapping.class
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/process/SecretShare.class
TugasAwesome/build/*
TugasAwesome/build/built-jar.properties
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/main/TugasAwesome.class
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/process/Encryption.class
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/process/Mapping.class
TugasAwesome/build/classes/id/ac/itb/informatika/tugasawesome/process/SecretShare.class
